/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */







body {
  font-family: "Poppins", sans-serif;
  background: #f4f7fb;
  margin: 0;
}

.navbar {
  display: flex;
  gap: 20px;
  background: #4a4ef5;
  padding: 12px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.card {
  width: 60%;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #00000020;
}

.card h2 {
  margin-bottom: 20px;
  color: #30336b;
  text-align: center;
}

form label {
  font-weight: 500;
  margin-top: 12px;
  display: block;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  margin-top: 18px;
  width: 100%;
  padding: 12px;
  background: #4a4ef5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th {
  background: #4a4ef5;
  color: white;
  padding: 12px;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.edit {
  background: #22a6b3;
  padding: 6px 10px;
  color: white;
  border: none;
  margin-right: 5px;
  border-radius: 4px;
}

.delete {
  background: #eb4d4b;
  padding: 6px 10px;
  color: white;
  border: none;
  border-radius: 4px;
}
