
/* ===============================
   NAVBAR
================================ */
.ch-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(to right, #6b1a24, #8a2431);
  padding: 16px 0;
}


.nav-left a,
.nav-right a {
  margin: 0 14px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #f5e6c8;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}


.nav-left a::after,
.nav-right a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 1px;
  background: #f5e6c8;
  transition: width 0.3s ease;
}

.nav-left a:hover::after,
.nav-right a:hover::after {
  width: 100%;
}

.nav-left a:hover,
.nav-right a:hover {
  color: #ffffff;
}
.ch-navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  letter-spacing: 3px;
  color: #f0efef;
  text-decoration: none;
}




