/* .product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 12px;
}

.product-name {
  font-size: 16px;
  margin: 0;
  color: #222;
}

.product-brand {
  font-size: 13px;
  color: #777;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 6px;
  color: #2e2e2e;
} */











.product-card {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.product-image-wrapper {
  width: 100%;
  height: 220px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* INFO */
.product-info {
  padding: 12px 14px 16px;
}

.product-name {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  margin: 0;
  line-height: 1.3;

  /* max 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-brand {
  font-size: 13px;
  color: #777;
  margin: 4px 0 6px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #2e2e2e;
}
.add-cart-btn {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-cart-btn:hover {
  background-color: #333;
}
