.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 14px;
  margin-bottom: 18px;
  color: #555;
}

.crumb {
  text-decoration: none;
  color: #555;
  cursor: pointer;
  transition: color 0.2s ease;
}

.crumb:hover {
  color: #000;
  text-decoration: underline;
}

/* CURRENT ITEM */
.crumb.current {
  color: #000;
  font-weight: 500;
  cursor: default;
  pointer-events: none;
}

/* SEPARATOR */
.separator {
  margin: 0 4px;
  color: #aaa;
}

.current {
  color: #000;
  font-weight: 500;
  cursor: default;
  pointer-events: none;
}



/* REMOVE CHIP/BUTTON STYLES (IMPORTANT) */
.breadcrumb a,
.breadcrumb span {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}